/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body {
  
  margin: 0;
  font-family: "Poppins";
  justify-content: center;
  padding-top: 80px;
  background: floralwhite !important;
  
}


.app {
  padding: 30px;
  
}

.todo {
  
  font-size: 18px;
  justify-content: space-between;
}

.todo-butt{
  position: absolute;
  top: 50%; 
            right: 0; 
            transform: translateY(-50%);  
    

  
}
